@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

form {
    visibility: hidden;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(147,66,255,1) 100%);

}
.container{
    height: 100%;
    max-width: 700px;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    /* background: transparent; */
}

.container .title{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.container .choice{
    position: relative;
   text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container #methods{
position: relative;
  align-items: center;
  width: 170px;
  height: 30px;
  font-weight: bold;
}

#menst{
    position: absolute;
}

.divisor-1{
    height: 1px;
    background: black;
}

label{
    font-size: 18px;
}


/* REMOVER SETAS DE NUMERO Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

input.number{
    width: 60px;
}

button.calcular {
    visibility: hidden;
    font-size: 1.5rem;
    margin-top: 1rem;
}