@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*====  RESET ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

form {
    visibility: hidden;
    margin: 20px;
    border: 1px solid #ffb3b3;
}

#menst {
    visibility: visible;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: linear-gradient(to bottom, #ffc0cb, #ffffff);
}

h1,
h2,
h3 {
    font-size: 2.5em;
}

.container {
    height: 100%;
    max-width: 700px;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    /* background: transparent; */
}

.container .title {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.container #choice {
    position: relative;
    text-align: center;
    padding-top: 1rem;
}

#labelMenst {
    margin-right: 5px;
}

#options {
    display: inline-block;
    width: fit-content;
    justify-self: center;
}

.container #methods {
    position: relative;
    align-items: center;
    width: 170px;
    height: 30px;
    font-weight: bold;
}

#menst {
    position: absolute;
}

.divisor-1 {
    margin-top: 1rem;
    visibility: visible;
    height: 1px;
    background: black;
}

label {
    font-size: 18px;
}

/* REMOVER SETAS DE NUMERO Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

input.number {
    width: 60px;
}

button.calcular {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #db4e7d;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 3px;
    transition: all 0.3s ease;
}

button.calcular:hover {
    background-color: #e91e63;
    cursor: pointer;
}

button.calcular span {
    color: #ffffff;
    padding: 5px;
    font-size: 1.3rem;
}

button#color-mode{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: none;
    z-index: 999;
    cursor: pointer;
}
button#color-mode img{
display: block;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

#resultados p {
    padding-top: 2rem;
}


/* Esquema de cores 1 */
body.color-mode-1 {
    background: linear-gradient(to bottom, #ffc0cb, #ffffff);
}
button.color-mode-1{
    background-color: #db4e7d;
    color: white;
}
button.color-mode-1:hover{
    background-color: #e91e63;
}

/* Esquema de cores 2 */
body.color-mode-2 {
 background: linear-gradient(to bottom, #ADD8E6, #ffffff);
}
button.color-mode-2{
    background-color: #4b8ccc;
    color: white;
}
button.color-mode-2:hover{
    background-color: #1976D2;
}